<manifest xmlns:android="http://schemas.android.com/apk/res/android">


<uses-permission android:name="android.permission.RECEIVE_SMS" />
<!-- <uses-permission android:name="android.permission.READ_SMS" /> -->


<application>
<!-- Receiver registered statically so it can receive SMS while app is not running -->
<receiver android:name="com.smsListener.SmsReceiver"
android:enabled="true"
android:exported="true">
<intent-filter>
<action android:name="android.provider.Telephony.SMS_RECEIVED" />
</intent-filter>
</receiver>


</application>
</manifest>

